.AwsVisualizer {
  border-color: #ffd7aa;
  background-color: #fff0c7;
  border-width: 2px;
}

.AwsVisualizer > :global(.panel-heading) {
  background-color: #fff0c7;
  border-color: #ffd7aa;
  border-width: 2px;
}
